@model dynamic
@{
    Layout = "_Site.cshtml";               
}

<div class="confirm_dialog">
    <h3>Confirm Operation</h3>

    <p>Are you sure you want to carry out this irreversible operation?</p>
       
    <form method="post" action="@ViewData["YesUrl"] ">
        <input type="submit" value="Yes, proceed with this operation" class="accept" />
    </form>

    <form method="post" action="@ViewData["NoUrl"] ">
        <input type="submit" value="No, cancel this operation" class="cancel" />
    </form>
</div>
