@model IEnumerable<mesoBoard.Web.Areas.Admin.Models.PluginMenu>

@foreach (var pluginMenu in Model)
{ 
    <ul class="vertical menu">
        <li class="title">
            <span>
                @pluginMenu.MainLink.Text 
            </span>
            <ul class="sub_menu">
                @foreach (var link in pluginMenu.ChildLinks)
                {
                    if (link != null)
                    {  
                        <li>
                        @Html.ParseNavLink(link)
                        </li>
                    }
                    else
                    {
                        <li class="list_spacer">&nbsp;</li>
                    }
                } 
            </ul>
        </li>
    </ul>
}

