@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Site.cshtml";
}
<div class="forgot_password section">
    <h2>Forgot Password</h2>

    @using(Html.BeginForm()) { 
            
        <dl>
            <dt>@Html.LabelFor(model => model.UsernameOrEmail)</dt>
            <dd>
                @Html.TextBoxFor(model => model.UsernameOrEmail)
                @Html.ValidationMessageFor(model => model.UsernameOrEmail)
            </dd>
                
            <dt>&nbsp;</dt>
            <dd>
                <input type="submit" value="Reset Password" />
            </dd>
            
        </dl>
        } 
</div>