@model mesoBoard.Web.Areas.Admin.ViewModels.UpgradeViewModel

<div class="upgrade section">
    <h2>Upgrade</h2>

    <div class="global_message notice">
        Upgrade scripts are still being tested. Please <strong>backup your mesoBoard files and database</strong> prior to running an upgrade script.
    </div>

    <p>
        Select a version to upgrade to:
    </p>

    <ul>
        @foreach (var upgrade in Model.AvailableUpgrades) 
        { 
            <li>@Html.ActionLink(upgrade, "Confirm", new { version = upgrade })</li>
        } 
    </ul>
</div>