@{
    Layout = "~/Views/Shared/_Site.cshtml";
}

@section BreadCrumbContent
{

}

<div class="global_message notice">
The administrator has disabled the board. If you're the administrator, you may login to the @Html.RouteLink("admin control panel", new { action = "Index", controller = "Admin", area = "Admin" })
</div>
