@{
    ViewBag.Title = "_User";
    Layout = "~/Views/Shared/_Site.cshtml";
}
<div class="user_cp section">
    <h2>User CP</h2>
    <div class="side_menu">
        @await Component.InvokeAsync(nameof(MenuViewComponent))
    </div>
    
    <div class="content">
        @RenderBody()
    </div>
</div>
