{
  "Installed": "False",

  "DatabaseServer": "DATABASE_SERVER",
  "UseIntegratedSecurity": "False",
  "DatabaseName": "DATABASE_NAME",
  "DatabaseLogin": "DATABASE_LOGIN",
  "DatabasePassword": "DATABASE_PASSWORD",

  "SmtpServer": "SMTP_SERVER",
  "SmtpPort": "25",
  "SmtpUseDefaultCredentials": "False",
  "SmtpLogin": "SMTP_LOGIN",
  "SmtpPassword": "SMTP_PASSWORD"
}