<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <!-- To reinstall, set the "Installed" value to "False" -->
  <add key="Installed" value="False" />
  <!-- Database connection -->
  <add key="DatabaseServer" value="DATABASE_SERVER" />
  <add key="UseIntegratedSecurity" value="False" />
  <add key="DatabaseName" value="DATABASE_NAME" />
  <add key="DatabaseLogin" value="DATABASE_LOGIN" />
  <add key="DatabasePassword" value="DATABASE_PASSWORD" />
  <!-- Mail settings -->
  <add key="SmtpServer" value="SMTP_SERVER" />
  <add key="SmtpPort" value="25" />
  <add key="SmtpUseDefaultCredentials" value="False" />
  <add key="SmtpLogin" value="SMTP_LOGIN" />
  <add key="SmtpPassword" value="SMTP_PASSWORD" />
</Settings>