@model IPostEditor


<dt>Message</dt>

<dd class="message">
    @Html.ValidationMessageFor(model => model.PostEditor.Message) 
    <br />
    <div class="text"">
        @Html.TextAreaFor(model => model.PostEditor.Message, new { @class = "posting bbcode", id = "smiley_insert", tabindex = 2 })
    </div>
    <table class="smilies">
        @{ Html.RenderAction("GetSmilies", "Post", new { x = 4, z = 20 }); }
    </table>                
    @if (Model.EditorType == EditorType.Edit)
    { 
        @Html.HiddenFor(model => model.PostEditor.PostID)
    }
</dd>
