@{
    ViewBag.Title = "AlreadyInstalled";
    Layout = "~/Views/Shared/_Install.cshtml";
}

<h2>mesoBoard is Already Installed</h2>

<p>
    An instance of mesoBoard is already installed. To reinstall, change the setting key 'Installed' to value of 'false' in the Settings.config file.
</p>
