@{
    Layout = "~/Views/Shared/_Install.cshtml";
}


@using (Html.BeginForm()) 
{
    <h3>Step 3 - Admin User Information</h3>

    <dl>
        <dt>
            Username
        </dt>
        <dd>
            @Html.TextBox("username") 
            @Html.ValidationMessage("username")
        </dd>
            
        <dt>
            Password
        </dt>
        <dd>
            A password will be generated for you on the next page
        </dd>
            
        <dt>
            Email
        </dt>
        <dd>
            @Html.TextBox("email") 
            @Html.ValidationMessage("email") 
        </dd>

        <dt>&nbsp;</dt>
        <dd>
            <input type="submit" value="Create Admin User&#187;" />
        </dd>
    </dl>
} 